@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #4A4E4D;
  --background: #FDFDFD;
  --crimson: #E63946;
  --teal: #00b4d8;
  --dark: rgba(74, 78, 77, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FDFDFD;
    --background: #060a10;
    --container: rgba(29, 53, 87, 0.6);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.over {
  width: 700px;
  /* object-fit: cover; */
}