@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #4A4E4D;
  --background: #FDFDFD;
  --crimson: #E63946;
  --dark: rgba(74, 78, 77, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FDFDFD;
    --background: #0d1725;
    --container: #1D3557;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.nav {
  left: 221px;
  width: calc(100vw - 221px);
}

.app {
  left: 221px;
  top: 110px;
  width: calc(100vw - 221px);
}

.over {
  width: 700px;
}